# Python
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/

# Environments
.venv/
venv/
.python-version

# Testing
.pytest_cache/
.coverage
htmlcov/
semirealistic-result.json

# Editors / OS
.vscode/
.idea/
.DS_Store
